AnchorPane{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #3A69A5 50%, #144c94 100%);
    -fx-alignment: center;
    -fx-spacing: 30;
}

FontAwesomeIconView{
    -fx-fill: #ffffff;
    -fx-size: 50;
}

#bottomHbox{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-radius: 0 0 5 5;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 5);
}

#thebox{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-background-radius: 5 5 0 0;
}

#thebox Button{
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 2, 0, 0, 2);
    -fx-background-color: #3A69A5;
    -fx-alignment: center;
    -fx-pref-width: 50;
    -fx-pref-height: 30;
    -fx-background-radius: 10;
}

#thebox Button:hover {
    -fx-background-color: #d9d4d4;
    -fx-cursor: hand;
}

HBox Label{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    -fx-background-radius: 5;
    -fx-spacing: 20;
    -fx-pref-width: 152;
    -fx-pref-height: 46;
    -fx-font-weight: bold;
}

TabPane #tab{
    -fx-background-color: #3A69A563;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-pref-width: 180;
    -fx-pref-height: 30;
}

TabPane AnchorPane{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-background-radius: 0 0 5 5;
}

TableView #time{
    -fx-background-color: rgba(146, 193, 250, 0.39);
    -fx-font-weight: bold;
    -fx-pref-width: 50;
}

TableView Label{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-pref-width: 170;
    -fx-pref-height: 40;
    -fx-padding: 0;
}

ListView{
    -fx-cell-size: 10;
    -fx-background-color: #bebebe;
    -fx-text-fill: #000000;
    -fx-background-radius: 5;
}

ListView Label{
    -fx-text-alignment: center;
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 310;
    -fx-pref-height: 90;
    -fx-background-radius: 5;
}

#addAppointment{
    -fx-background-color: #effce1;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 2, 0, 0, 2);
}
#addAppointment Button{
    -fx-background-color: #3A69A5;
    -fx-pref-height: 30;
    -fx-background-radius: 10;
}

#pane{
    -fx-pref-width: 200;
    -fx-pref-height: 220;
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 3, 1, 0, 1);

}

#pane Label{
    -fx-alignment: center;
    -fx-text-alignment: left;
    -fx-text-fill: #3A69A5;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-font-size: 10;
    -fx-pref-width: 60;
}

#pane GridPane #button{
    -fx-background-color: #3A69A5;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-pref-height: 30;
    -fx-background-radius: 10;
}

#errorlbl{
    -fx-pref-width: 250;
    -fx-alignment: center-left;

}
