AnchorPane{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #3A69A5 50%, #144c94 100%);
    -fx-alignment: center;
    -fx-spacing: 30;
}

FontAwesomeIconView{
    -fx-fill: #ffffff;
    -fx-size: 50;
}