
AnchorPane{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #3A69A5 50%, #144c94 100%);
    -fx-alignment: center;
}

#loginLbl{
    -fx-text-fill: #09418a;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

VBox{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-background-radius: 10;
}

TextField, PasswordField{
    -fx-prompt-text-fill: #1758ab;
    -fx-text-fill: #000000;
    -fx-font-size: 1.2em;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-opacity: 0.5;
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-effect: dropshadow(one-pass-box, #dedede, 0, 1, 1 ,1);
}


Button {
    -fx-background-color: linear-gradient(to bottom, #1758ab, #7999e8);
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-background-radius: 100;
}

Button:hover {
    -fx-background-color: #d9d4d4;
    -fx-cursor: hand;
}


#errorLabel{
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
}

#forgotPasswordBtn{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-background-radius: 5;
}

#forgotPasswordBtn:hover{
    -fx-text-fill: #7c7c7c;
}

