
.mainMenu{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #3A69A5 50%, #144c94 100%);
    -fx-alignment: center;
    -fx-spacing: 30;
}

.mainMenu FontAwesomeIconView{
    -fx-fill: #ffffff;
    -fx-size: 20;
}

.mainMenu VBox{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.mainMenu VBox Button {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 5, 0, 0, 0);
    -fx-graphic-text-gap: 10;
    -fx-alignment: baseline-left;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 150;
    -fx-pref-height: 40;

}

.mainMenu VBox Button:hover {
    -fx-background-color: #4f4e4e;
    -fx-cursor: hand;
}

.mainMenu VBox Button:focused{
    -fx-background-color: #4f4e4e;
}

.mainMenu HBox{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-background-radius: 5;
}

.mainMenu HBox #buttonEnd{
    -fx-background-color: #4f4e4e;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 3);
    -fx-pref-width: 50;
    -fx-pref-height: 40;
    -fx-background-radius: 50;
}

.mainMenu HBox #buttonEnd:hover{
    -fx-background-color: #d9d4d4;
    -fx-cursor: hand;
}


